{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %} 

{% block content %} 

<!-- Banner Welcome-->
<section class='banner bg-[url("https://res.cloudinary.com/aelfrith/image/upload/v1687091458/static/images/matt-forfar-n5UNkNDBLn4-unsplash%20%282%29.9a116f8d7583.webp")] w-full bg-cover bg-bottom py-32 px-20'>
    <div class="flex flex-col items-start justify-end h-full max-w-6xl mx-auto px-4">
        <h4 class="text-2xl text-white text-left mb-2" style="text-shadow: 2px 2[x #1F2937;">Welcome</h4>
        <h2 class="text-6xl font-bold text-white text-left mb-4" style="text-shadow: 3px 3px #1F2937;">Rainbow Warriors</h2>
        <div class="flex flex-row gap-4 justify-start items-center">
            {% if request.user.is_authenticated %}
            <a type="button" href="{% url 'resources' %}" class="text-white border border-yellow-400 bg-yellow-500 hover:bg-yellow-600 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-yellow-300 dark:hover:text-white dark:hover:bg-yellow-400 dark:focus:ring-yellow-900">Resources</a>
            {% else %}
            <a type="button" href="{% url 'account_login' %}" class="text-white border border-yellow-400 bg-yellow-500 hover:bg-yellow-600 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-yellow-300 dark:hover:text-white dark:hover:bg-yellow-400 dark:focus:ring-yellow-900">Login</a>
            <a type="button" href="{% url 'account_signup' %}" class="focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">Register</a>
            {% endif %}
        </div>
    </div>
</section>

<main class="w-full mx-auto px-4 py-8 bg-orange-50 dark:bg-gray-800">

  <!-- Featured Stories Section -->
  <section class="max-w-[1400px]  lg:flex w-full gap-4 px-4 py-8 bg-orange-50 dark:bg-gray-800">
    <div class="w-full lg:w-2/3 bg-orange-50 h-auto lg:pr-24 p-12 lg:ml-4 mb-8 lg:mb-4 rounded-tr-[50px] rounded-bl-[50px] border-2 border-gray-900 dark:text-white dark:bg-gray-600" style="box-shadow: -15px 15px #DC2626;">
      <h2 class="text-2xl mb-6 pb-3 font-bold">STORIES:</h2>
      <blockquote class="text-xl italic font-semibold text-gray-900 dark:text-white">
        <img class="object-cover h-64 w-full mb-4" src="assets/images/isi-parente-ReeGI822YKM-unsplash.jpg" alt="Rainbow Woman">
        <h3 class="text-2xl mb-3">Embracing My True Self</h3>
        <p class="font-normal">"In the depths of my being, I knew I was different. I carried a secret within me, a truth that yearned to be set free. It took years of introspection, self-discovery, and a wave of courage to embrace my true self. Today, as a proud lesbian, I stand tall, radiating love and acceptance."</p>
        <p class="text-sm text-right italic text-gray-500 dark:text-white">- Maya</p>
        <a href="embracing-my-true-self.html" class="text-sm italic focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Read More</a>
      </blockquote>
    </div>
    <div class="w-full lg:w-1/3 flex flex-col justify-evenly lg:-ml-12">
        <div class="bg-orange-50 h-auto p-6 mb-8 lg:mb-4 lg:ml-2 rounded-tr-[50px] rounded-bl-[50px] border-2 shadow border-2 border-gray-900 dark:text-white dark:bg-gray-600" style="box-shadow: -10px 10px #EA580C;">
            <ul>
                <li>
                    <a href="/love-without-limits.html" target="_blank" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-xl dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                      <img class="object-cover flex-shrink-0 w-8 h-8 text-gray-500 transition duration-75" src="assets/images/isi-parente-ReeGI822YKM-unsplash.jpg" alt="Rainbow Woman">
                      <span class="flex-1 ml-3 whitespace-nowrap">"Love Without Limits" - Sam & Alex</span>
                    </a>
                </li>
                <li>
                    <a href="/finding-strength-in-community.html" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-xl dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                        <img class="object-cover flex-shrink-0 w-8 h-8 text-gray-500 transition duration-75" src="assets/images/leighann-blackwood-k8Q5awOhPaQ-unsplash.webp" alt="Female Couple">
                        <span class="flex-1 ml-3 whitespace-nowrap">"Finding Strength in Community" - Jamie</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="flex gap-4">
            <div class="w-full lg:w-1/2 bg-orange-50 h-32 mb-6 lg:mb-8 lg:ml-2 lg:b-2 rounded-tr-[50px] rounded-bl-[50px] border-2 shadow border-2 border-gray-900 overflow-hidden" style="
box-shadow: -10px 10px #15803D;
">
                <img class="object-cover h-full w-full" src="assets/images/duy-pham-Cecb0_8Hx-o-unsplash.webp" alt="Friends Together">
            </div>
            <div class="w-1/2 bg-orange-50 h-32 mt-8 ml-2 mb-2 rounded-tr-[50px] rounded-bl-[50px] border-2 shadow border-2 border-gray-900 overflow-hidden" style="
box-shadow: -8px 8px #1D4ED8;
">
                <img class="object-cover h-full w-full" src="assets/images/katie-rainbow-KG7CCyD0-QE-unsplash.webp" alt="Rainbow Hand">
            </div>
        </div>
    </div>
</section>

    <!-- Map Section-->
    <section class="w-full max-w-6xl mx-auto px-4 py-8 mt-6 bg-orange-50 dark:bg-gray-800">
        <h3 class="text-2xl mb-3 font-bold text-center text-gray-600 dark:text-white">Check out the LGBT+ communnity Centres Below:</h3>
        <iframe src="https://my.atlist.com/map/4c7e9fa7-3534-4dc0-a2f4-cb2173379c39?share=true" allow="geolocation 'self' https://my.atlist.com" width="100%" height="400px" frameborder="0" scrolling="no" allowfullscreen></iframe>
    </section>

</main>

{% endblock %}