{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %} 

{% block content %} 

<!-- Banner Welcome-->
<section class='banner bg-[url("https://res.cloudinary.com/aelfrith/image/upload/v1687091458/static/images/matt-forfar-n5UNkNDBLn4-unsplash%20%282%29.9a116f8d7583.webp")] w-full bg-cover bg-bottom py-32 px-20'>
    <div class="flex flex-col items-start justify-end h-full max-w-6xl mx-auto px-4">
        <h4 class="text-2xl text-white text-left mb-2" style="text-shadow: 2px 2[x #1F2937;">Welcome</h4>
        <h2 class="text-6xl font-bold text-white text-left mb-4" style="text-shadow: 3px 3px #1F2937;">Rainbow Warriors</h2>
        <div class="flex flex-row gap-4 justify-start items-center">
            {% if request.user.is_authenticated %}
            <a type="button" href="{% url 'resources' %}" class="text-white border border-yellow-400 bg-yellow-500 hover:bg-yellow-600 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-yellow-300 dark:hover:text-white dark:hover:bg-yellow-400 dark:focus:ring-yellow-900">Resources</a>
            {% else %}
            <a type="button" href="{% url 'account_login' %}" class="text-white border border-yellow-400 bg-yellow-500 hover:bg-yellow-600 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-yellow-300 dark:hover:text-white dark:hover:bg-yellow-400 dark:focus:ring-yellow-900">Login</a>
            <a type="button" href="{% url 'account_signup' %}" class="focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">Register</a>
            {% endif %}
        </div>
    </div>
</section>

<main class="mx-auto px-4 py-8 bg-orange-50 dark:bg-gray-800">

    <!-- CTA Section -->
    <section class="lg:flex w-full max-w-6xl mx-auto px-4">
        <div class="w-full lg:w-2/3 bg-orange-50 h-auto lg:pr-16 p-5 lg:ml-4 mb-8 lg:mb-4 rounded-3xl border-2 border-gray-900 dark:text-white dark:bg-gray-600" style="
    box-shadow: -15px 15px #DC2626;
    ">
            <h1 class="text-2xl mb-3 font-bold">Large Box</h1>
            <p class="text-2xl mb-3 text-gray-500  dark:text-white ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. At iusto pariatur, dolorum ab, temporibus molestias eligendi nesciunt amet totam odit voluptatibus, dolor fugiat commodi fugit labore minima perferendis enim maiores.</p>
            <ul class="space-y-2">
                <li>
                    <a href="#" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-xl dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                        <svg class="w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
                            <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
                        </svg>
                        <span class="ml-3">Lorem ipsum dolor sit amet</span>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-xl dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                        <svg class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z">
                            </path>
                        </svg>
                        <span class="flex-1 ml-3 whitespace-nowrap">Lorem ipsum dolor sit amet</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-xl dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                        <svg class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path>
                        </svg>
                        <span class="flex-1 ml-3 whitespace-nowrap">Lorem ipsum dolor sit amet</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-xl dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                        <svg class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M5 4a3 3 0 00-3 3v6a3 3 0 003 3h10a3 3 0 003-3V7a3 3 0 00-3-3H5zm-1 9v-1h5v2H5a1 1 0 01-1-1zm7 1h4a1 1 0 001-1v-1h-5v2zm0-4h5V8h-5v2zM9 8H4v2h5V8z" clip-rule="evenodd"></path>
                        </svg>
                        <span class="flex-1 ml-3 whitespace-nowrap">Lorem ipsum dolor sit amet</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="w-full lg:w-1/3 flex flex-col justify-evenly lg:-ml-12">
            <div class="bg-orange-50 h-32 p-6 mb-8 lg:mb-4 lg:ml-2 rounded-3xl shadow border-2 border-gray-900 dark:text-white dark:bg-gray-600" style="
    box-shadow: -10px 10px #EA580C;
    ">
                <ul>
                    <li>
                        <a href="#" target="_blank" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-xl dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                            <svg class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z">
                                </path>
                            </svg>
                            <span class="flex-1 ml-3 whitespace-nowrap">Lorem ipsum dolor sit amet</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-xl dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                            <svg class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path>
                            </svg>
                            <span class="flex-1 ml-3 whitespace-nowrap">Lorem ipsum dolor sit amet</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="flex gap-4">
                <div class="w-full lg:w-1/2 bg-orange-50 h-32 mb-6 lg:mb-8 lg:ml-2 lg:b-2 rounded-3xl shadow border-2 border-gray-900 overflow-hidden" style="
    box-shadow: -10px 10px #15803D;
    ">
                    <img class="object-cover h-full w-full" src="assets/images/isi-parente-ReeGI822YKM-unsplash.jpg" alt="Rainbow Woman">
                </div>
                <div class="w-1/2 bg-orange-50 h-32 mt-8 ml-2 mb-2 rounded-3xl shadow border-2 border-gray-900 overflow-hidden" style="
    box-shadow: -8px 8px #1D4ED8;
    ">
                    <img class="object-cover h-full w-full" src="assets/images/katie-rainbow-KG7CCyD0-QE-unsplash.jpg" alt="Rainbow Hnad">
                </div>
            </div>
        </div>
    </section>

    <!-- Map Section-->
    <section class="w-full max-w-6xl mx-auto px-4 py-8 mt-6 bg-orange-50 dark:bg-gray-800">
        <h3 class="text-2xl mb-3 font-bold text-center text-gray-600 dark:text-white">Check out the LGBT+ communnity Centres Below:</h3>
        <iframe src="https://my.atlist.com/map/4c7e9fa7-3534-4dc0-a2f4-cb2173379c39?share=true" allow="geolocation 'self' https://my.atlist.com" width="100%" height="400px" frameborder="0" scrolling="no" allowfullscreen></iframe>
    </section>

</main>

{% endblock %}