/* background animation */
.background-animation:hover {
    background: linear-gradient(270deg, #d91b21, #f05e32, #e3f032, #32f04a, #3f32f0, #a332f0, #de32f0);
    background-size: 1400% 1400%;

    -webkit-animation: sign-up-animation 7s ease infinite;
    -moz-animation: sign-up-animation 7s ease infinite;
    -o-animation: sign-up-animation 7s ease infinite;
    animation: sign-up-animation 7s ease infinite;
}

@-webkit-keyframes sign-up-animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes sign-up-animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes sign-up-animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes sign-up-animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}