{% load static %}

<footer class="py-8 lg:pt-16 bg-gray-50 dark:bg-gray-800 mt-20">
    <div class="w-full max-w-8xl mx-auto px-4">
        <div class="grid lg:grid-cols-6 gap-12 lg:gap-8">
            <div class="col-span-2 logo">
                <a href="./index.html" class="flex items-center flex mb-6">
                    <img src="{% static '/images/logo.webp' %}" class="mr-3 h-24" alt="Rainbow Warriors Logo"></a>
                    <span class="text-gray-900 dark:text-white self-center text-lg font-semibold">Rainbow Warriors</span>
                </a>
                <p class="text-sm text-gray-600 dark:text-gray-400">This website is designed to provide members of the LGBTQ+ community with the first forum to advice other members about ways to deal with daily struggles . As users of this website and members of the LGBTQ+ communnity they will be given the opportunity to describe in short detail difficult moments of their lifes together with links to resources such as books, youtube videos, events, among others. Other users are giving the means to search the website for help on especific topics and type of resouce.</p>
            </div>
            <div>
                <h3 class="text-gray-400 dark:text-white text-sm font-semibold uppercase mb-6">Resources</h3>
                <ul>
                    <li class="pl-3 py-2">
                        <a href="./music.html" class="font-normal text-gray-900 hover:text-green-600 dark:text-gray-300 dark:hover:text-green-500 hover:underline">Music</a>
                      </li>
                      <li class="pl-3 py-2">
                        <a href="./movies.html" class="font-normal text-gray-900 hover:text-green-600 dark:text-gray-300 dark:hover:text-green-500 hover:underline">Movies</a>
                      </li>
                      <li class="pl-3 py-2">
                        <a href="./tv-series.html" class="font-normal text-gray-900 hover:text-green-600 dark:text-gray-300 dark:hover:text-green-500 hover:underline">TV Series</a>
                      </li>
                      <li class="pl-3 py-2">
                        <a href="./news.html" class="font-normal text-gray-900 hover:text-green-600 dark:text-gray-300 dark:hover:text-green-500 hover:underline">News</a>
                      </li>
                </ul>
            </div>
            <div>
                <h3 class="text-gray-400 dark:text-white text-sm font-semibold uppercase mb-6">Help and support</h3>
                <ul>
                    <li class="pl-3 py-2">
                        <a href="./contact-us.html" class="font-normal text-gray-900 hover:text-green-600 dark:text-gray-300 dark:hover:text-green-500 hover:underline">Contact Us</a>
                      </li>
                    <li class="mb-4"><a href="/resources.html" target="_blank" rel="noreferrer nofollow" class="text-gray-600 dark:text-gray-400 dark:hover:text-white font-normal hover:underline">Media Center</a></li>
                </ul>
            </div>
            <div>
                <h3 class="text-gray-400 dark:text-white text-sm font-semibold uppercase mb-6">Follow us</h3>
                <ul>
                    <li class="mb-4"><a href="https://github.com/rainbow-warriors" target="_blank" rel="noreferrer nofollow" class="text-gray-600 dark:text-gray-400 dark:hover:text-white font-normal hover:underline">Github</a></li>
                    <li class="mb-4"><a href="https://twitter.com/rainbow-warriors" target="_blank" rel="noreferrer nofollow" class="text-gray-600 dark:text-gray-400 dark:hover:text-white font-normal hover:underline">Twitter</a></li>
                    <li class="mb-4"><a href="https://www.facebook.com/rainbow-warriors" target="_blank" rel="noreferrer nofollow" class="text-gray-600 dark:text-gray-400 dark:hover:text-white font-normal hover:underline">Facebook</a></li>
                    <li class="mb-4"><a href="https://ro.linkedin.com/company/rainbow-warriors" target="_blank" rel="noreferrer nofollow" class="text-gray-600 dark:text-gray-400 dark:hover:text-white font-normal hover:underline">LinkedIn</a></li>
                </ul>
            </div>
            <div>
                <h3 class="text-gray-400 dark:text-white text-sm font-semibold uppercase mb-6">Legal</h3>
                <ul>
                    <li class="mb-4"><a href="/privacy-policy" target="_blank" rel="noreferrer nofollow" class="text-gray-600 dark:text-gray-400 dark:hover:text-white font-normal hover:underline">Privacy Policy</a></li>
                    <li class="mb-4"><a href="/terms-and-conditions" target="_blank" rel="noreferrer nofollow" class="text-gray-600 dark:text-gray-400 dark:hover:text-white font-normal hover:underline">Terms &amp; Conditions</a></li>
                </ul>
            </div>
        </div>
        <hr class="border-gray-200 dark:border-gray-700 my-6 lg:my-8">
        <span class="block text-center text-gray-600 dark:text-gray-400 font-">© 2023 Rainbow Warriors. All Rights Reserved.</span>
    </div>
</footer>