{% extends 'base.html' %}

{% block title %}Resources{% endblock %} 

{% block content %} 

<!-- Page Content is below -->
<h1>Useful resources</h1>

<container class="center">
    <div>
        <h2>Music and Videos</h2>
        <p>Music and videos you might enjoy</p>
        <ul>
            <li><a>Lady Gaga<iframe width="560" height="315" src="https://www.youtube.com/embed/wV1FrqwZyKw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></a></li>li>
            <li><a>Queen - I want to break free<iframe width="560" height="315" src="https://www.youtube.com/embed/f4Mc-NYPHaQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></a></li>
        </ul>
    </div>
    <br>

    <div>
        <h2>TV Series</h2>
        <p>Some TV series</p>
        <ul>
            <li><a>History of Pride<iframe width="560" height="315" src="https://www.youtube.com/embed/SK_vly7E53c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></a></li>
            <li><a>More about the history of Pride<iframe width="560" height="315" src="https://www.youtube.com/embed/hZAZ9LScuj0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></a></li>
        </ul>
    </div>
    <br>
    <div>
        <h2>News</h2>
        <p>Some news items about the LGBTQ+ community</p>
        <ul>
            <li><a>BBC report<iframe width="560" height="315" src="https://www.youtube.com/embed/Ns_UQevR2R0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></a></li>
            <li><a>Newsround - pride in London<iframe width="560" height="315" src="https://www.youtube.com/embed/SkFFX1yGoX4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></a></li>
        </ul>
    </div>
</container>



{% endblock %}